<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for (let c of comments){ %>
            <li>
                <%= c.comment %> - <%= c.username %>
                        <a href="/comments/<%= c.id %>">details</a>
                        <!--  링크누르면  /comments/1  이주소로이동  id를 숫자로설정함  -->
            </li>
            <% } %>
    </ul>
    <a href="/comments/new"> New Comment</a>
    <!-- new.ejs와 연결하는 링크. 댓글입력페이지로 연결 -->

</body>

</html>