section {
    width: 500px;
    height: 300px;
    background-color: magenta;
}

/* ★ Id적을때 대소문자구분하기 */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

/* ★rgba 의 a는 alpha 0~1  0은 완전투명 1은불투명 / opacity도 0~1 똑같음 
rgba는 배경색상만 투명해짐
opacity는 버튼이나 글씨나 다른콘텐츠가 있으면 같이투명해짐 */
/* 색깔선택기에서도 alpha사용 색선택기에 두개가있음 왼쪽이투명도 오른쪽은 색 */
#Opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}