section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}

/* % => 부모요소의 땡땡% 만보여줌 가끔 부모요소가 아닌 자체의 폰트크기를 기준으로 삼
거나 요소자체의 다른값을 기준으로 삼는다 특성에따라다르다 하지만 일반적으로 퍼센트는
너비나 높이 지정에 가장많이 사용된다  */

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

/* line-height:50% 이경우 부모요소의 50%가아닌 요소자체의 폰트크기의 50%를 의미함 */

h2 {
    font-size: 2em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
}

article {
    font-size: 20px;
}

/* em은 부모요소의 n배   2em=부모요소의2배  
margin:1em; 글꼴의n배 */
/* button {
    font-size: 30px;
    padding: 0 30px;
    border-radius: 15px;
    background-color: #2a9d8f;
    color: white;
} */
button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

/* 여기서버튼의 부모는article이니까 article크기의 n배로 맞춰짐 
article 폰트사이즈20px이니까 버튼의 폰트사이즈는20px 패딩은 좌우20px 모깎기는10px
px은 하나하나고쳐야하지만 em은 폰트사이즈에따라 자동으로 맞춰진다★ */

ul {
    font-size: 1.5rem;
}

/*rem 폰트사이즈를 부모요소의크기에따라 바꾸지않고 문서기본사이즈의 크기에 비례해서 바꿈 
em같은경우는 li를 만들때 부모요소가 많으면 부모요소를 계속타고타고 점점글씨가커짐
디폴트 글꼴크기 바꿀수 있음 html{font-size:25px;} 이런식으로★*/
/*보통rem이작업하기더쉽고 글꼴은rem으로 버튼같은 모깎기는 em으로해서 섞어써도됨*/