p a {
    color: orchid;
}

/* 자손선택 p문단안의 a 컬러를 오차드로 */
.anything {
    color: darkkhaki;
}

span {
    color: darksalmon;
}

/* 인접선택자 */
h1+p {
    color: blueviolet;
}

/* h1+p -> h1과 p가 형제일때 h1다음의 p 하나만 컬러가바뀜 */
/* 만약 형제가 아니면 작동안함 */

/* 일반 형제 선택자 */
h1~h2 {
    color: #fcbf49;
}

/* h1,h2가 형제일때 h1다음의 h2는 모두 컬러가바뀜         */


/* 직계자손선택자 ->한단계아래만 선택한다
ex) footer안에 여러요소들이있다면 다무시하고 요소없는
button만 선택 */
footer>button {
    color: purple;
}

input [type="password"] {
    color: deepskyblue;
}

/* h1,h2 {
    background-color: indigo;
} */

p[class="post"] {
    background-color: indigo;
}

/* ↑  .post 와같은효과  !만약 class=post가 p이외에 div나 nav 다른요소에도
적용이 돼있는데 p에있는 post만 선택하고싶다면   p.post {}  이렇게하면 post가있는 p
만 골라줌  */
button:hover {
    background-color: darkolivegreen;
    color: antiquewhite;
}

/* 가상클래스 */
/* hover 커서갖다대면 색바뀜,밑줄,윗줄 등등 
.post a:hover{} <-post안에a만선택.   a:hover 이렇게 띄어쓰기없이 써야함!!! */
a:hover {
    text-decoration: underline;
}

button:active {
    background-color: darkblue;
}

/* active-> 버튼을누르면색이변함 */

/* .post {
    background-color: darkblue;
} */

.post:nth-child(2n) {
    background-color: darkblue;
}

/* nth-of-type(2) -> 2번째줄을 선택함 (2n) -> 매2번째를 선택함
span엔사용안되고 section calss나 p에 사용됨 ->확실치않음..span에도됐다가 
2번째줄만선택하지않고 2,3번째줄을같이선택하고..  */
p::first-letter {
    font-size: 30px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

/* 가상클래스나 가상요소는 :: 두개써야하는데 하나만써도크롬은 인식하지만 ::두개쓰자
::selection은 커서로선택하는범위를 수정해줌*/
/* 우선순위 앞보다 뒷글,뒷링크 선택 */
/* 우선순위 ID > Class > Element  */
/* 우선순위 1위가 html inline이지만 쓰지말기 !important는 2순위(css)*/
/* form{color:green;} -> button,input은 컬러적용안됨 원래 따로지정해줘야하기때문.
이럴때 상위항목의 특성을 상속받도록 color:inherit; 쓰면 똑같이 적용됨
상속이 적용안되는요소도 있음 테두리는 상속이불가 */
/* 코드가 안먹힐땐 개발자옵션들어가서보면 이유가보임 */