h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    /* display: inline; */
    width: 300px;
    height: 200px;
    padding: 50px;
    margin: 100px;
}

.imspan {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
    padding: 0;
    width: auto;
    margin: auto;
}

/*h1은원래 블록요소인데 display:inline 인라인으로 바꿀수있다 
인라인요소였던 span에게 display:block 썼더니 블락이됐다*/
span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 100px;
    margin: 50px;
}

/* span은인라인요소라 width를크게해도 안커진다 패딩은 커짐
패딩만든상태에서 백그라운드컬러를 없애면 투명네모가 생김
margin은 좌우로만 영향을줌 위아래영향X*/
/* 블록레벨요소인 h1은 인라인과다르게 width height 적용 가능하다 
패딩,margin 전부가능하다*/

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 30px;
}

/* display:inline-block 중요!! 세로직사각형 한개를 가로 사각형 3개로 만들수있음 */
/* 마치 하이브리드 모드처럼 동작하는데 기본적으로 inline 엘리먼트처럼 전후 줄바꿈 
없이 한 줄에 다른 엘리먼트들과 나란히 배치되지만, block 엘리먼트처럼 width와 height 
속성 지정 및 margin과 padding 속성의 상하 간격 지정이 가능하다 다시 말해서, 
내부적으로는 block 엘리먼트의 규칙을 따르면서 
외부적으로 inline 엘리먼트의 규칙을 따르게 되는 것.
대표적인 inline-block 엘리먼트로 <button>이나 <input>, <select> 가있음  */



/* display:none; 요소를 숨길수있다 개발옵션에선 글이그대로있지만 사이트에선
안보인다 나중에 다시보이게 만들수있다고함*/