/* img는 인라인요소  */
img {
    width: 30%;
    /* width를 px로 정하면 px은 고정값이라 창을 줄이거나 늘려도 같은 크기이다 대신 %를 쓰면 
    창의 크기에 따라 크기가 유동적으로 바뀐다.   부모요소의 30%크기로 설정. 
    사진이 3개니까 사진이 90%를차지 ,여백이 10% 남는다. 이 여백 10%를 사진 3개에 나눠야하고
    사진 좌우 여백을 따지면 6으로 나누면 된다 
    margin: 1.6666666%; 우리가 직접 계산해서 써도되지만 calc()를 쓰면 알아서계산한다.
    calc()를 쓰면 그값이 어떻게 나왔는지 논리를 알수있어서 좋다.  
    margin:20px 이렇게 px로 여백을 주면 각이미지에 여백이 20px씩 생기지만 창크기가 바뀌어도
    고정돼있어서 보기좋지않다 
     */
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    /* 글씨가 비율에 맞춰 엄청작아지면 안되기때문에 글크기에는 %를 안씀 대신 부모와관련있는 em을 많이씀   */
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    /* nav 아래에 회색줄 */
    width: 30%;
    /* nav도 30% 크기로 */
    margin-left: calc(10%/6);
    /* 여백을 안주면 nav와 이미지가 줄이안맞음 nav도 img와 같은 마진을 갖도록 
     상하 마진은 필요없으므로 left */
    padding: 1.2em 0;
    /* nav상하에만 1.2em패딩 
   nav에 상하 패딩,마진 차이 -  패딩을 주면 보더밑줄과 텍스트 사이에 패딩이 들어가 공간이생기고 
    마진을 주면 보더밑줄과 텍스트사이엔 공간이없고 밑줄아래로 여백이생긴다*/
}


/* html에 img를 여러개 입력할때 <img><img> 화이트스페이스가 없어야함 안그러면 이미지가 띄어쓰기됨
<span>hi</span>
<span>hii</span>
이렇게 두줄로쓰면 hi hii로 띄어쓰기돼서 출력됨. 공백없이 쓰려면 붙여써야함 인라인요소기때문 */