<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <body>
            <!-- ejs태그 :  태그 안의 내용 4+5+1 을 js로 취급 -->
            <h1>the home page <%= 'helloworld' .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, veniam placeat itaque eveniet adipisci
                magni
                dignissimos voluptates laboriosam, quos quibusdam asperiores, illo quidem nisi ipsum ut autem error et
                aut?
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde inventore nemo praesentium nobis nam
                blanditiis
                veritatis nostrum maiores assumenda quae, recusandae eveniet tenetur facilis accusantium, sit, quo ipsam
                quia
                tempora!</p>
        </body>

        </html>